<div class="content-container">
  <div class="banner-pic">
    <div class="text-landing">
      <h1>Ethical craftmanship from across the world</h1>
      <div class="spacing">
      <%= link_to "Discover our Products!", products_path,  class: "get-started-button" %>
      </div>
    </div>
  </div>

</div>
