.products-index-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 30px;
  grid-gap: 30px;
}

.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: black;
}

.card-product img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-product .card-product-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-product-infos .card-product-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-product-infos h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  color: black;
}

.card-product-infos p {
  font-family: 'Poiret One', cursive;
  font-size: 18px;
  color: black;
}

