.navbar-mashi {
  background: white;
  box-shadow: 0px 6px 10px -10px;
  padding-left: 20px;
  padding-right: 30px;
  height: 90px;
  justify-content: space-evenly;
  font-family: 'Poiret One', cursive;
  font-size: 21px;
  z-index: 2;
}

.navbar-mashi a {
  color: black;
}

.navbar-mashi a:hover {
  text-decoration: none;
  font-weight: bold;

}

.navbar-mashi .navbar-collapse {
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}
.navbar-mashi img {
  width: 100px;
}

.left-header {
  display: inline-block;
}


