.navbar-mashi {
  background: white;
  background: #FFFFFF;
  box-shadow: 0px 6px 10px -10px;
  padding-left: 20px;
  padding-right: 30px;
  height: 120px;
  justify-content: space-evenly;
}

.navbar-mashi .navbar-collapse {
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}
.navbar-mashi .navbar-brand img {
  width: 100px;
}

.left-header {
  display: inline-block;
}

// .navbar-mashi {
//   justify-content: space-between;
//   background: #FFFFFF;
//   box-shadow: 0px 6px 10px -10px;
//   padding-left: 20px;
//   padding-right: 30px;
// }
