.products-index-header {
  padding-top: 20px;
  margin-left: 0px;
  margin-right: 50px;
}

.products-index-header img {
  height: 290px;
  width: 100%;
}

.products-index-header h1 {
  padding-top: 15px;
  font-family: 'Poiret One', cursive;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.products-index-header p {
  font-family: 'Poiret One', cursive;
  font-size: 19px;
  text-align: center;
}



