
<div class="products-index-header">

 <div class="row">
   <div class="col-sm-8">
    <%= image_tag "mongolia.jpg" %>
  </div>
  <div class="col-sm-4">
    <strong><h1>Our Products</h1></strong>
    <br>
    <p>Products <strong>100% hand-made</strong> by craftwomen & craftmen, using natural & environmentally responsible material. <strong>NONE</strong> of our products are industrial. All of them are <strong>UNIQUE pieces</strong>. Highly resilients, our products are made to make your interiors more beautiful, more authentic, durable & personnalized.</p>
  </div>
</div>
</div>

<!-- <p>Here is a list of the products currently available for Sale. For any custom request, please check "Custom Made".</p> -->

<div class="products-index-list">
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
    <div class="card-product-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-product-pricing">£99.99</h2>
    </div>
  </div>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
    <div class="card-product-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description hee!</p>
      </div>
      <h2 class="card-product-pricing">£99.99</h2>
    </div>
  </div>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
    <div class="card-product-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-product-pricing">£99.99</h2>
    </div>
  </div>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
    <div class="card-product-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-product-pricing">£99.99</h2>
    </div>
  </div>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
    <div class="card-product-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-product-pricing">£99.99</h2>
    </div>
  </div>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
    <div class="card-product-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-product-pricing">£99.99</h2>
    </div>
  </div>
  <br>
  <br>



